/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Background */
body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-top: 3px solid #00bcd4;
  border-bottom: 3px solid #00bcd4;
}

.navbar .logo img {
  max-width: 100%; /* Garante que a imagem não ultrapasse o contêiner */
  height: auto; /* Mantém a proporção da imagem */
  max-height: 240px; /* Define a altura máxima da imagem */
}


.navbar .nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  flex: 1; /* Permite que os links de navegação ocupem o espaço disponível */
  justify-content: flex-end; /* Alinha os links à direita */
}

.navbar .nav-links li {
  margin-left: 20px;
  border: 1px solid #dcdcdc; /* Borda cinza clara */
  border-radius: 5px; /* Bordas arredondadas */
  padding: 8px 0px; /* Espaçamento interno */
}

.navbar .nav-links a {
  color: #333;
  text-decoration: none;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.navbar .nav-links a:hover,
.navbar .nav-links a.active {
  background-color: #1F8755;
  color: #fff;
}

.imagem-ifam {
  width: 150px;
  height: auto;
}

.nav-logout-form {
  margin-left: 20px; /* Espaçamento entre os links e o botão de logout */
}

.btn-logout {
  background-color: #d9534f;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-logout:hover {
  background-color: #c9302c;
}

/* Main Content */
.main-content {
  border-top: 3px solid #ffee00;
  display: flex;
  padding: 20px;
}

.menu {
  width: 20%;
  background-color: #f4f4f4; /* Cor de fundo mais suave */
  border: 1px solid #ddd; /* Borda mais clara */
  padding: 20px;
  margin-right: 20px;
  border-radius: 8px; /* Bordas arredondadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.menu h3 {
  margin-bottom: 20px;
  color: #333; /* Cor do texto do título */
  font-size: 1.2em; /* Tamanho do texto do título */
}

.menu ul {
  list-style: none;
  padding: 0; /* Remove o padding padrão */
  margin: 0; /* Remove a margem padrão */
}

.menu ul li {
  margin-bottom: 10px;
}

.menu ul li button {
  width: 100%;
  padding: 12px; /* Aumenta o padding para mais conforto */
  border: 2px solid #1F8755;
  background-color: #ffffff; /* Cor de fundo dos botões */
  color: #333; /* Cor do texto dos botões */
  cursor: pointer;
  border-radius: 6px; /* Bordas arredondadas para os botões */
  font-size: 1em; /* Tamanho do texto dos botões */
  transition: all 0.3s ease; /* Transição suave para efeitos de hover */
}

.menu ul li button.selected, .menu ul li button:hover {
  background-color: #1F8755; /* Cor de fundo ao selecionar ou passar o mouse */
  color: #ffffff; /* Cor do texto ao selecionar ou passar o mouse */
  border-color: #1F8755; /* Borda igual à cor de fundo */
}


.user-list {
  width: 80%;
}

.user-list h2 {
  margin-bottom: 20px;
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 10px; /* Espaçamento entre os elementos */
  margin-bottom: 20px;
}

#search-user {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px; /* Ajuste a largura conforme necessário */
}

#search-btn {
  background-color: #1F8755;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px; /* Espaço entre o campo de busca e o botão de pesquisa */
}

#search-btn:hover {
  background-color: #1F8755;
}

#create-user {
  background-color: #1F8755;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

#create-user:hover {
  background-color: #1F8755;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Espaçamento entre o campo de busca e o botão de pesquisa */
}

/* User Table */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

button.action-btn {
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 2px 2px;
  cursor: pointer;
  margin: 0 2px;
}

.action-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1em;
  padding: 0;
}

.view-btn i {
  color: blue;
}

.edit-btn i {
  color: #1F8755;
}

.delete-btn i {
  color: red;
}

.action-btn:hover i {
  opacity: 0.7;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close, .close-edit {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus, .close-edit:hover, .close-edit:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}



/* Footer */
footer {
  background-color: #f5f5f5;
  color: #333;
  text-align: center;
  padding: 8px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
